@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'Android';
    src: url(fontes/idroid.otf) format('opentype');

}

body{
    background-color: #e7e1b2;
    padding-bottom:  30px;
}
:root{
    --cor01:#E1D04F;
    --cor02:#DBC20A;
    --cor03:#A89608;
    --cor04:#463e05;
    --cor05:#55501557;
   

}


header{
    background-image: linear-gradient(to bottom, #DBC20A,#463e05);
}
h1#principal{
    text-align: center;
    padding: 20px;
    color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

p.principal{
    text-align: center;
    padding: 20px;
    color: white;
    
}
nav{
background-color:var(--cor05);
box-shadow:2px 3px 4px rgb(0 0 0 / 40%);
border-radius: 10px;



}
nav ul li{
    display: inline;
}
main{
    margin:auto;
    background-color:rgba(248, 247, 234, 0.568);
    max-width: 800px;
    max-height: 2600px;
    padding: 20px;
    box-shadow: 2px 1px 4px rgb(0 0 0 / 12%);
    border-radius: 2px 2px 10px 10px;

}
ul{
    columns: 2;
}
li{
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-position:inside;



}
a{

    text-decoration: none;
    color: white;
 
}

.titulos{
    font-family:'Android';
    color: var(--cor04);
    background-image: linear-gradient(to right,#DBC20A, transparent);

}
a{
    color: #DBC20A;

}

section{

    margin-top: 20px;
    background-color: #A89608;
    padding: 15px;
    border-radius: 10px;
}

.bug{
    margin: auto;
    display: block;
   width: 100%;
   max-width: 70%;

}
.irina{
    display: block;
    margin: auto;
}

iframe{
    
}


div.video{
   
    
    background-color: #DBC20A;
    position: relative;
    padding:17%;
    padding-bottom: 39.3%;
    width: 66%;


  



}
div.video >iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;



}